.button {
  width: 100%;
  border-radius: 1000px;
  background: var(--primary-600-main, #7857d3);
  border: none;
  box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
  padding: 16px 10px;
  box-sizing: border-box;
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.5px;
}
